body {
    background-color: $background-color;
}

* {
    color: $font-color;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sono', sans-serif;
}

.ul a,
.footer {
    color: $dark-blue1;
}
