/* Footer */

.footer {
    padding: auto;
    margin-top: 0.5rem;
    text-align: center;
}

<<<<<<< HEAD
.footer a {
=======
.social a,
.social i {
>>>>>>> v5. and fix Cimg
    color: $footer-link-color;
}

.footer .social {
    display: inline-flex;
    font-size: 4rem;
}

.footer .social a {
    text-decoration: none !important;
}

.footer a:hover {
    background-color: $footer-hover-color;
    font-size: 5rem;
<<<<<<< HEAD
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
=======
    padding: 5px;
    margin-bottom: 5px;
>>>>>>> v5. and fix Cimg
    border-radius: 15px;
}
