.hidden {
    display: none !important;
}

.header,
.footer {
    flex: 0 0 auto;
}

/* Header */
.site-header { // del 1

    display: flex;
    align-items: center;
}

.header {
    color: $header-color;
}

/* Title */
.title {
    justify-content: center;
    list-style: none;
}

.logo { //del 2
    
    flex: 1;
    justify-content: flex-start;
}

.site-header::after { // del 3 to get logo far löeft and title allways in center
    flex: 1;
    content: '';
}

.title {
    display: inline;
    text-align: center;
}


.logo-img {
    float: left;
    margin-top: 2em;
    margin-left: 2em;
    display: inline-flex;
    max-width: 25%;
}

/* Navbar */

/*
* Style links.
*/

.nav a {
    font-size: 2em;
    display: inline-block;
    padding: 1rem 3rem;
    margin: 4rem 0;
    border-radius: 2rem;
    text-decoration: none;
}

.nav a:hover {
    color: $nav-hover-color;
    background-color: $nav-hover-background-color;
    transition-duration: 0.25s;
}

/*
* Remove bullets, margins and padding from the list.
*/
.nav ul {
    text-align: center;
    list-style-type: none;
}

/*
* Put the li items on a line.
*/
.nav li {
    display: inline;
}
