$font-color: #fff;
$font-alternative-color: #fff;

$background-color: #1e9474;

$footer-link-color: #fff;
$footer-hover-color: #54a5ab;

$header-color: #fff;
$nav-hover-color: #fff;
$nav-hover-background-color: #54a5ab;
$main-background-color: #1f332e;

$box-color: #146652;


$dark-blue1: #032e3e; // fotter a,
$dark-blue2: #19646a; //background color, body,nav hover,
$blue-green1: #00c690; //nav hover,
$blue-green2: #00df96; //fotter hover,
$green1: #00cf52; //main

// $good-con1-to-DB2: #D17230;
// $good-con2-to-DB2: #54A5AB;


/* Monokrom rgb på dark-blue2
    #193638
    #86CCD1
    #1A666B
    #D6FCFF
    #C2FBFF
*/

/* Monokrom rgb på blue-green1
    #1E9474
    #276151
    #00C792
    #1F332E
    #293330
*/


// $text: #333;

// #032e3e //
// #00FFFF // cyan
// #808080 // nat gray
