
$font-color: #333;
$font-alternative-color: #fff;
$background-color: #353535;
$footer-link-color: #e0e0e0;
$footer-hover-color: #00df96;
$header-color: #e0e0e0;
$nav-hover-color: #e0e0e0;
$nav-hover-background-color: #00c690;
$main-background-color: #86ccd1;
$box-color: #faebd7;
$under-line-h: #333;


$dark-blue1: #032e3e; // fotter a,
$dark-blue2: #19646a; //background color, body
$blue-green1: #00c690;
$blue-green2: #00df96; //fotter hover,
$green1: #00cf52;
