$font-color: #333;
$font-alternative-color: #fff;
$background-color: #19646a;


$dark-blue1: #032e3e;
$dark-blue2: #19646a; //background color
$blue-green1: #00c690;
$blue-green2: #00df96;
$green1: #00cf52;
